<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="second_knowledge_id" property="secondKnowledgeId" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="INTEGER" />
    <result column="others" property="others" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.model.entity.QuestionWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="picture" property="picture" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, grade, school_id, type_id, subject_id, second_knowledge_id, degree, others
  </sql>
  <sql id="Blob_Column_List" >
    content, picture
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.example.demo.model.entity.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.entity.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.entity.QuestionExample" >
    delete from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.QuestionWithBLOBs" >
    insert into question (id, grade, school_id, 
      type_id, subject_id, second_knowledge_id, 
      degree, others, content, 
      picture)
    values (#{id,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, 
      #{typeId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{secondKnowledgeId,jdbcType=INTEGER}, 
      #{degree,jdbcType=INTEGER}, #{others,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{picture,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.QuestionWithBLOBs" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="secondKnowledgeId != null" >
        second_knowledge_id,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="others != null" >
        others,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="secondKnowledgeId != null" >
        #{secondKnowledgeId,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        #{others,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.entity.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.secondKnowledgeId != null" >
        second_knowledge_id = #{record.secondKnowledgeId,jdbcType=INTEGER},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=INTEGER},
      </if>
      <if test="record.others != null" >
        others = #{record.others,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update question
    set id = #{record.id,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      second_knowledge_id = #{record.secondKnowledgeId,jdbcType=INTEGER},
      degree = #{record.degree,jdbcType=INTEGER},
      others = #{record.others,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      picture = #{record.picture,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question
    set id = #{record.id,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      second_knowledge_id = #{record.secondKnowledgeId,jdbcType=INTEGER},
      degree = #{record.degree,jdbcType=INTEGER},
      others = #{record.others,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.QuestionWithBLOBs" >
    update question
    <set >
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="secondKnowledgeId != null" >
        second_knowledge_id = #{secondKnowledgeId,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        others = #{others,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.model.entity.QuestionWithBLOBs" >
    update question
    set grade = #{grade,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      second_knowledge_id = #{secondKnowledgeId,jdbcType=INTEGER},
      degree = #{degree,jdbcType=INTEGER},
      others = #{others,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      picture = #{picture,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.Question" >
    update question
    set grade = #{grade,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      second_knowledge_id = #{secondKnowledgeId,jdbcType=INTEGER},
      degree = #{degree,jdbcType=INTEGER},
      others = #{others,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>